C:/Data_Science_Coursera_Jhon_Hopkin_University/Data Science Foundations using R/3 - Getting and Cleaning Data/WEEK 4 - Regular Expressions, Dates and Course Project/04_course-project/UCI HAR Dataset

C:/Data_Science_Coursera_Jhon_Hopkin_University/Data Science Foundations using R/3 - Getting and Cleaning Data/WEEK 4 - Regular Expressions, Dates and Course Project/04_course-project/getdata_projectfiles_UCI HAR Dataset.zip

C:/Data_Science_Coursera_Jhon_Hopkin_University/Data Science Foundations using R/4 - Exploratory Data Analysis/WEEK 1 - Graph, Plotting, Graphics Device/07_course-project-1/resource/

C:/Data_Science_Coursera_Jhon_Hopkin_University/Data Science Foundations using R/4 - Exploratory Data Analysis/WEEK 1 - Graph, Plotting, Graphics Device/07_course-project-1/01_course-project-1_exdata-data-household_power_consumption.zip